<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
    <dubbo:application name="zhixing101_wechat_consumer"/>
    <!-- 使用multicast广播注册中心暴露发现服务地址 -->
    <!-- <dubbo:registry address="multicast://224.5.6.7:1234?unicast=false" /> -->
    <!--dubbo集群开发，请激活下面条目，并注销上面的多播multicast -->
    <!--<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" />-->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />

    <!-- dnionConfigManage-api -->
    <dubbo:reference id="bookService" interface="com.zhixing101.wechat.api.service.BookService"/>
    <dubbo:reference id="bookStoragePlaceService" interface="com.zhixing101.wechat.api.service.BookStoragePlaceService"/>

</beans>